.friend__card {
  padding: 30px;
  display: flex;
}

.friend__details {
  padding: 30px;
}

.friend__userpic {
  height: 300px;

}

@media screen and (max-width: 765px) {
  .friend__card {
    display: flex;
    flex-direction: column;
  }
}