.register {
  margin: 0;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__form {

  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.register__welcome {
  display: flex;
  flex-direction: column;
}

.register__button-container {
  margin: 15px 0;
  padding: 0 25px;
}

.register__signin {
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}