#slider-container {
  position: relative;
  display: flex;
  padding: 0.5rem 1rem;

  z-index: 10;
}

#slider-container .counter {
  margin-left: 0.5rem;
  max-width: 3rem;
  font-size: large;
  z-index: 10;
}