body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 5px;
  padding: 0;
  max-width: 220px;
  min-height: 150px;
}

.nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* max-width: 500px; */
  background-color: rgba(0, 139, 139, 0.246);
}

.header__nav {
  display: flex;
  flex-direction: row;


  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 765px) {
  .header__nav {
    flex-direction: column;
  }
}

.page__pages {
  background-color: darkgray;
  padding: 50px;

  position: relative;
  overflow: hidden;
}

.page__item {
  display: flex;
  flex-direction: column;


  box-sizing: border-box;
  margin: 5px 5px;
  padding: 20px 20px;
  border: 5px solid rgba(127, 255, 212, 0.8);
  background-color: rgba(127, 255, 212, 0.8);
  color: black;
  text-decoration: none;
}


.page__item:hover {

  /* font-weight: 900; */

  color: aqua;
  border: 5px solid black;

  background-color: royalblue;
  cursor: pointer;
}



.page__404 {
  background-color: brown;
}

.page__404 h1 {
  color: aliceblue;
}

.page__insert {

  display: flex;

  flex-direction: column;
  background-color: burlywood;
  border: 5px solid royalblue;

}

.page__paragrapher {

  padding: 50px 100px;
  background-color: beige;

}

.page__avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.page__span {
  font-weight: 600;
  font-size: x-large;
}

.home__btn {
  margin: 0 10px;
  padding: 10px 50px;

  border: 5px solid gray;

  outline: none;
  background-color: rgba(218, 165, 32, 0.267);

  cursor: pointer;
}


.home__btn:hover {
  background-color: darksalmon;
}



.theme-select {

  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 10px;

  /* z-index: 10; */
}

.theme-select__heding {
  padding: 0 50px;

  display: flex;
  align-items: center;
}

.theme-select__icon {
  padding: 5px;
  font-size: 25px;

  border: 1px solid black;
  border-radius: 50%;
  background-color: rgba(222, 184, 135, 0.259);
}

.theme-select__span {
  display: block;
  margin: 10px;
  padding: 0 10px;
}

.theme__day {
  background-color: azure;

}


.theme__night {
  background-color: rgba(128, 128, 128, 0.7);
}


.bubble {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.9;
}